package pages

import (
	"toolbox/internal/domain"
	"toolbox/internal/templates/partials"
	"toolbox/internal/templates/shared"
)

templ TodosPage(todos []*domain.Todo, term string) {
	@shared.Page("Todos") {
		<div class="max-w-3xl mx-auto">
			@partials.RenderTodos(todos)
		</div>
	}
}
