package pages

import (
	"toolbox/internal/domain"
	"toolbox/internal/templates/partials"
	"toolbox/internal/templates/shared"
)

templ TodoPage(todo *domain.Todo) {
	<div class="container mx-auto max-w-7xl">
		@shared.Page("Todo") {
			@partials.RenderTodo(todo)
		}
	</div>
}
