package partials

import "toolbox/internal/domain"

templ RenderTodo(todo *domain.Todo) {
	<div class="sm:flex">
		<div>
			<h4 class="text-lg font-bold">{ todo.Title }</h4>
			<p class="text-md">{ todo.Description }</p>
		</div>
	</div>
}
